<div class="site-footer gt-c-content-color-first">

  <div class="social-container">

    <a href="<%= site.customConfig['github'] %>" target="_blank" title="<%= site.customConfig['github'] %>">
      <i class="fab fa-github gt-c-content-color-first"></i>
    </a>

    <a href="<%= site.customConfig['cnblogs'] %>" target="_blank" title="<%= site.customConfig['cnblogs'] %>">
      <i class="fas fa-blog gt-c-content-color-first"></i>
    </a>

    <a href="<%= site.customConfig['csdn'] %>" target="_blank" title="<%= site.customConfig['csdn'] %>">
      <i class="fab fa-cuttlefish gt-c-content-color-first"></i>
    </a>

    <a href="mailto:<%= site.customConfig['envelope'] %>" title="<%= site.customConfig['envelope'] %>">
      <i class="fas fa-envelope gt-c-content-color-first"></i>
    </a>

  </div>
  <div class="slogan gt-c-content-color-first"><%- themeConfig.siteDescription %></div>
  <% if(themeConfig.footerInfo != '') { %>
  <div class="footer-info">
    <%- themeConfig.footerInfo %>
  </div>
  <%} %>
  <div>
    Powered by <a href="https://github.com/getgridea/gridea" target="_blank">Gridea | <a
        href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a></a>
  </div>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>
